*.pyc
.DS_Store
.esm-cache
.tscache
screenshots
node_modules
package-lock.json
test/src/ts/dist/*
examples/textures-typescript.js
examples/textures-typescript.js.map
dist/**/*.LICENSE
dist/**/*.LICENSE.txt
